.modal-container {
  background-color: #b3b3b3a9;
  inset: 0;
  position: absolute;
  z-index: 3;
}

.modal {
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  bottom: 70px;
  box-shadow: #64646f4d 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  left: calc(50% - 200px);
  padding: 2rem;
  position: absolute;
  top: 70px;
  width: 400px;
}

.close-btn {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
  position: relative;

  .close-btn-text {
    color: #000;
    font-size: 1.2rem;
    position: relative;
    z-index: 2;
  }

  &::after {
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out;
    width: 0;
    z-index: 1;
  }

  &:hover {
    .close-btn-text {
      color: #fff;
    }

    &::after {
      width: 100%;
    }
  }
}
